<mat-toolbar class="admin-color">
    <a
    [routerLink]="'/home'"
        mat-icon-button class="example-icon" >
     <mat-icon>menu_book</mat-icon>
   </a>
   <span>Exam Portal</span>
   <span class="example-spacer"></span>
   <a 
   *ngIf="!isLoggedIn"
   [routerLink]="'/login'"
   mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
    Login
   </a>
   <a
   *ngIf="!isLoggedIn" 
   [routerLink]="'/signup'"
   mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
   Sign Up
   </a>
   <a
   (click)="logout()"
   *ngIf="isLoggedIn" 
   [routerLink]="'/signup'"
   mat-icon-button class="example-icon favorite-icon mr20 ml20" aria-label="Example icon-button with heart icon">
    Logout
   </a>
   <button
   *ngIf="isLoggedIn" 
    mat-button
    routerLink="/admin/profile"
    class="example-icon favorite-icon mr30 ml20" aria-label="Example icon-button with heart icon">
    {{login.getUser().username}}
   </button>
 </mat-toolbar>