	
html,
body{
	height: 100%;
}
body{
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

.text-center{
	text-align: center;
}

.ml20{
	margin-left: 20px !important;
}
.mr20{
	margin-right: 20px !important;
}

.mr30{
	margin-right: 30px !important;
}
.mt20{
	margin-top: 20px !important;
}
.mb10{
	margin-bottom: 10px !important;
}

.ml10{
	margin-left: 10px !important;
}
.mr10{
	margin-right: 10px !important;
}
.mt10{
	margin-top: 10px !important;
}
.mb10{
	margin-bottom: 10px !important;
}

.admin-color{
	background-color: #43bbd9;
}
.admin-color1{
	background-color: #43bbd9;
}